.h1 { 
  font-size: 44px;
  font-weight: 500;
}

.p {
  display: block;
  padding-left: 44px;
  color: green;
}

.li {
  border: 1px solid gray;
  margin-left: 250px;
  padding-bottom: 25px;
  font-size: 14px;
}